:root{
	--colour1:#529b9b;
	--colour2:#3e4242;
	--colour3:#343838;
}
html,body{
	margin: 0 auto;
	padding: 0;
	min-width:100%;
	min-height:100%;
	background-color: gray;
	color:white;
}
body{
	font-family: Arial;
	font-size:20px;
	text-align:center;
	position:relative;
	background-image:url("https://www.nationalgeographic.com/content/dam/photography/photos/000/000/6.adapt.1900.1.jpg");
	background-size:cover;
}
h1,h2,h3{
	font-weight: normal;
}
h1{
	font-size:150px;
}
h2{
	font-size:50px;
}
h3{
	font-size:35px;
}
#middle{
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}
h1{
	text-align:center;
	color:white;
	margin:0 0 40px;
}
#top_bar{
	display:none;
	padding:10px;
}
#top_right{
	float:right;
}
#weather_temp{
	font-size:20px;
	margin:0;
}
#weather_loc{
	font-size:15px;
}
input[name="username"],input[name="email"],input{
	font-size:30px;
	padding:5px 10px;
	background:none;
	border:0;
	border-bottom:3px solid white;
	color:white;
	text-align:center;
	outline: none;
	max-width: 300px;
}
#display_email{
	display:none;
}
#display_main{
	display:none;
}
#btm_bar{
	text-align:center;
	width:100%;
	position:absolute;
	bottom:0;
}
#btm_middle{
}
#email_prompt{
	text-align:center;
	bottom:0;
	display:none;
}
#email_prompt button{
	background-color:none;
	background:none;
	border-radius:3px;
	padding:10px;
	border: 2px solid rgba(255,255,255,0.8);
	color:white;
	margin:0 10px;
	cursor:pointer;
	outline:none;
}
#email_prompt button:hover{
	background-color:rgba(255,255,255,0.2);
}
#display_focus{
	display:none;
}
.focus_msg{
	font-size:30px;
	margin:0 20px;
}
.msg_check,.msg_remove{
	display:none;
	color:rgba(255,255,255,0.6);
}
.msg_check:hover, .msg_remove:hover{
	cursor:pointer;
}
.msg_check:hover{
	color:rgba(255,255,255,1);
}
.msg_remove:hover{
	background-color:rgba(255,255,255,0.5);
	border-radius:100%;
}
#focus:hover .msg_check,
#focus:hover .msg_remove,
.focus_msg:hover + .msg_check,
.focus_msg:hover + .msg_remove,
.msg_check:hover,
.msg_remove:hover{
	display:inline-block;
}
#display_quote{
	display:none;
}
#display_quote p{
	margin:0;
}
#quote_msg{
	font-size:17px;
	padding:10px;
}
#quote_author{
	font-size:13px;
	display:none;
	color:rgba(255,255,255,0.6);
	padding:0 0 10px 0;
}
#quote_msg:hover + #quote_author,#display_quote:hover + #quote_author,#quote_author:hover{
	display:block;
}